{{!
You can use this template to render any errors on your site if you wish. You do not HAVE to use this, but you can.
}}

    <main>
        <article>
            <h2 class="visually-hidden">Error information</h2>
            <p class="error" id="error-message"></p>
            <a href="/" class="back-link">Return to Home page</a>
        </article>
    </main>